#titulo{
    background:linear-gradient(#573de9 0%,#e0f242 100%) ;
}
p{
    font-size:25px;
}
body{
    background-color: burlywood;
    text-align: center;
    padding: 50px;
}
#oz{
    border-radius: 50%;
}
.clase{
    float:left ;
    padding-left: 10px;
    padding-right: 5px;
    padding-bottom: 10px;
    font-family: 'Dancing Script';
    font-size: 35px ;
}
ul{
    list-style: none;
    position: absolute;
    z-index:100;
    cursor: pointer;
    font-family: 'Dancing Script';
    position: fixed;
    top: 0%;
    margin-top: 0%;
    background-color: #ed89db;
}
h1{
    color: rgb(47, 67, 249);
    font-family: 'Dancing Script';
}
#tortu{
    background-color: rgb(248, 43, 101);
    color:#f6ef8c;
    font-family: 'Dancing Script';
}
#oso{
    background: linear-gradient(#0ab6f0 0%,#0398fc 100%);
}
.imagenes{
  width: 700px;  
}
.my_nav_bar{
    z-index: 751;
    position: sticky;
}